<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://rlv.zcache.com/i_love_heart_ub_sticker-r4e8e48695c3c40c4884d647007aead09_v9waf_8byvr_324.jpg" rel="shortcut icon" type="image/x-icon" />
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' />
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body class="gray-bg">

<%= yield %>

</body>
</html>
